{{if .IsBasic}}
<script>document.createElement('nav');</script>
<style>
body{margin:0;padding:0;}
nav{display:block;}
a{color:#dd4814;text-decoration:none;outline:0}
a:hover,a:focus{color:#97310e;text-decoration:underline;}
li{list-style-type:none;}
.container{max-width:728px;margin:0 auto;}
.navbar{background-color:#dd4814;padding:8px;}
.navbar a{color:#ffffff;text-decoration:none;}
.pull-right{float:right;}
.well{background-color:#f5f5f5;border:1px solid #e3e3e3;padding:16px;border-radius:4px}
.form-control{display:block;width:95%;}
label{font-weight:bold;}
.form-group{margin-bottom:16px;}
.btn-toolbar .btn-group{float:left;}
.input-filename{display:inline-block;width:50%;}
#upload-list li.list-group-item{background-color:#ffffff;border:1px solid #dddddd;padding:8px;border-radius:4px;}
.panel{background-color:#ffffff;border:1px solid #dddddd;border-radius:4px;margin:16px 0;}
.panel-heading{border-bottom:1px solid #dddddd;background-color:#f5f5f5;padding:8px;}
small{font-size:75%;}
.text-muted{color:#aea79f;}
.text-center{text-align:center;}
.panel-body{padding:8px;}
.list-group{margin:0;padding:0;}
.files .list-group-item{border-top:1px solid #dddddd;padding:8px;}
a.btn-primary{color:#ffffff;background-color:#dd4814;border-color:#dd4814;padding:8px;border-radius:4px;text-decoration:none;font-weight:bold;}
a.btn-primary:hover,a.btn-primary:focus{color:#ffffff;background-color:#b83c11;border-color:#a5360f;text-decoration:none;}
a.btn-default{color:#ffffff;background-color:#aea79f;border-color:#aea79f;padding:8px;border-radius:4px;text-decoration:none;font-weight:bold;}
a.btn-default:hover,a.btn-default:focus{color:#ffffff;background-color:#9b9389;border-color:#92897e;text-decoration:none;}
a.btn-block{display:block;text-align:center;}
ul.pager{margin:0;padding:0;}
ul.pager a{border:1px solid #dddddd;border-radius:16px;padding:8px 16px;}
.panel-danger .panel-heading{color:#b94a48;background-color:#f2dede;border-color:#eed3d7;}
.panel-danger .panel-body .panel-heading{color:#000000;background-color:#f5f5f5;border-color:#dddddd;}
.panel-info .panel-heading{color:#3a87ad;background-color:#d9edf7;border-color:#bce8f1;}
.panel-info .panel-body .panel-heading{color:#000000;background-color:#f5f5f5;border-color:#dddddd;}
</style>
{{else}}
  {{cc "<!--[if lte IE 7 ]>"}}
  <link rel="stylesheet" href="/r/ie7.css">
  {{cc "<![endif]-->"}}
  {{cc "<!--[if (gte IE 8)|!(IE)]><!-->"}}
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/united/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
  {{cc "<!--<![endif]-->"}}
  <link rel="stylesheet" href="/r/johndyer-mediaelement/build/mediaelementplayer.css">
{{end}}
