<script src="/r/EventSource.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="/r/jackmoore-autosize/jquery.autosize-min.js"></script>
<script src="/r/johndyer-mediaelement/build/mediaelement-and-player.min.js"></script>
<script src="/r/uploader.js"></script>
<script src="/r/util.js"></script>
