<!DOCTYPE html>
<html lang="ja">
{{$Deleted := .Message.IsDeleted}}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{if $Deleted}}削除済み{{else}}投稿の削除{{end}} - {{with .MountInfo.Title}}{{.}}{{else}}タイトルなし{{end}} - labbslazy</title>
  {{template "base-css.html" .}}
  <link rel="stylesheet" href="/r/index.css">
  {{template "base-js.html" .}}
</head>
<body>
  {{template "navbar.html" (print (urlbase .IsBasic) .Mount "/")}}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          {{if .IsBasic}}
            <a href="/{{.Mount}}/{{.Message.Index}}/delete">標準</a>
            簡易
          {{else}}
            標準
            <a href="/b/{{.Mount}}/{{.Message.Index}}/delete">簡易</a>
          {{end}}
        </div>
        <h1>{{with .MountInfo.Title}}{{.}}{{else}}タイトルなし{{end}}</h1>

        <ul class="pager">
          <li class="previous"><a href="{{urlbase .IsBasic}}{{.Mount}}/">&larr; 一覧へ戻る</a></li>
        </ul>

        {{if .Error}}
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{.Error}}
          </div>
        {{end}}

        <div class="panel {{if $Deleted}}panel-info{{else}}panel-danger{{end}}">
          <div class="panel-heading">
            <h2 class="panel-title">{{if $Deleted}}削除済み{{else}}削除の確認{{end}}</h2>
          </div>
          <div class="panel-body">
            {{if $Deleted}}
              <p>この投稿は既に削除されています。</p>
              <div id="messages">
                {{template "message.html" .}}
              </div>
            {{else}}
              <p>以下の投稿を削除しますか？</p>
              <div id="messages">
                {{template "message.html" .}}
              </div>
              <p>削除するにはパスワードを入力して下さい。</p>
              <form class="form-inline" role="form" action="{{urlbase .IsBasic}}{{.Mount}}/{{.Message.Index}}/delete" method="POST">
                <div class="form-group">
                  <label class="sr-only" for="input-password">パスワード</label>
                  <input type="text" name="Password" class="form-control" id="input-password" placeholder="Password">
                </div>
                <button type="submit" name="Delete" value="1" class="btn btn-danger">削除</button>
              </form>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{template "footer.html" .}}
</body>
</html>
