<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{with .MountInfo.Title}}{{.}}{{else}}タイトルなし{{end}} - labbslazy</title>
  <meta name="description" content="{{.MountInfo.Description}}">
  <meta name="keywords" content="{{.MountInfo.Title}}">
  <meta property="og:title" content="{{.MountInfo.Title}}">
  <meta property="og:description" content="{{.MountInfo.Description}}">
  {{template "base-css.html" .}}
  <link rel="stylesheet" href="/r/index.css">
  {{template "base-js.html" .}}
  {{if .IsBasic}}
    <script src="/r/basic-index.js"></script>
  {{else}}
    <script src="/r/index.js"></script>
  {{end}}
  {{template "upload-template.html"}}
</head>
<body data-is-basic="{{if .IsBasic}}1{{else}}0{{end}}"{{if (not .IsBasic)}} data-sse="/{{.Mount}}/sse"{{end}} data-mount="{{.Mount}}">
  {{template "navbar.html" (print (urlbase .IsBasic) .Mount "/")}}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          {{if .IsBasic}}
            <a href="/{{.Mount}}/">標準</a>
            簡易
          {{else}}
            標準
            <a href="/b/{{.Mount}}/">簡易</a>
          {{end}}
        </div>
        <h1>{{with .MountInfo.Title}}{{.}}{{else}}タイトルなし{{end}}</h1>
        {{if .MountInfo.Description}}
          <p>{{.MountInfo.DescriptionHTML (print (urlbase .IsBasic) .Mount "/")}}</p>
        {{end}}
      </div>
    </div>
    <div class="row">
      <!--
      <div class="col-lg-2">
        <div class="player">
          <audio controls="control" preload="none" type="audio/mp3" src="http://oov.ch:8000{{.Mount}}">
          <object type="application/x-shockwave-flash" data="/r/johndyer-mediaelement/build/flashmediaelement.swf">
          <param name="movie" value="flashmediaelement.swf">
          <param name="flashvars" value="controls=true&file=http://oov.ch:8000{{.Mount}}">
        </div>
      </div>
      -->
      <div class="col-sm-12">
        <form id="message-form" class="well form-horizontal" role="form" action="{{urlbase .IsBasic}}{{.Mount}}/post" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name-input" class="col-sm-2 control-label">
              名前
            </label>
            <div class="col-sm-4">
              <input id="name-input" class="form-control" type="text" name="Name" placeholder="名前">
            </div>
          </div>
          <div class="form-group">
            <label for="body-input" class="col-sm-2 control-label">
              本文
            </label>
            <div class="col-sm-10">
              <textarea id="body-input" class="form-control" name="Body" placeholder="本文"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-push-2">
              <div id="legacy-upload" class="form-horizontal">
                <input type="hidden" name="LegacyUpload" value="1">
                <div class="form-group">
                  <label class="col-sm-3 col-lg-2 control-label" for="Uploads0File">ファイル1</label>
                  <div class="col-sm-9 col-lg-10">
                    <input class="form-control" id="Uploads0File" name="Uploads.0.File" type="file">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 col-lg-2 control-label" for="Uploads0Description">ファイル1の説明</label>
                  <div class="col-sm-9 col-lg-10">
                    <input class="input-description form-control" id="Uploads0Description" name="Uploads.0.Description" type="text" placeholder="ファイル1の説明">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 col-lg-2 control-label" for="Uploads1File">ファイル2</label>
                  <div class="col-sm-9 col-lg-10">
                    <input class="form-control" id="Uploads1File" name="Uploads.1.File" type="file">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 col-lg-2 control-label" for="Uploads1Description">ファイル2の説明</label>
                  <div class="col-sm-9 col-lg-10">
                    <input class="input-description form-control" id="Uploads1Description" name="Uploads.1.Description" type="text" placeholder="ファイル2の説明">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 col-lg-2 control-label" for="Uploads2File">ファイル3</label>
                  <div class="col-sm-9 col-lg-10">
                    <input class="form-control" id="Uploads2File" name="Uploads.2.File" type="file">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 col-lg-2 control-label" for="Uploads2Description">ファイル3の説明</label>
                  <div class="col-sm-9 col-lg-10">
                    <input class="input-description form-control" id="Uploads2Description" name="Uploads.2.Description" type="text" placeholder="ファイル3の説明">
                  </div>
                </div>
              </div>
              <div id="upload-container" style="display:none" class="btn btn-default" data-action="/tmp" title="mp3 や jpg ファイルがアップロードできます(20MBまで)">
                <span class="icon-file"></span>
                ファイルアップロード
              </div>
              <ul id="upload-list" class="list-group"></ul>
            </div>
            <div class="col-sm-2 col-sm-pull-10">
              <button class="btn btn-primary btn-block" type="submit">投稿する</button>
            </div>
          </div>
        </form>
        <div id="messages">
          {{template "message.html" .}}
        </div>
        <div id="more">
          {{if .HasMore}}
            <a class="btn btn-default btn-lg btn-block" href="{{urlbase .IsBasic}}{{.Mount}}/-{{.HasMore}}">続きを読む</a>
          {{end}}
        </div>
      </div>
    </div>
  </div>
  {{template "footer.html" .}}
</body>
</html>
