{{$Mount := .Mount}}
{{$IsBasic := .IsBasic}}
{{range .Messages}}
  {{$Index := .Index}}
  {{$Deleted := .IsDeleted}}
  <div id="msg{{$Index}}" class="panel panel-default{{if $Deleted}} deleted{{end}}" data-index="{{$Index}}">
    <div class="panel-heading">
      <small>
        <a href="{{urlbase $IsBasic}}{{$Mount}}/{{$Index}}">No.{{$Index}}</a>
      </small>
      {{if $Deleted}}
        <del>(Deleted)</del>
      {{else}}
        {{with .Name}}{{.}}{{else}}名無しさん{{end}}
      {{end}}
      <small class="text-muted">
        {{.AddDateReadable}}
      </small>
    </div>
    <div class="panel-body message-body">
      {{if $Deleted}}
        <small class="text-muted">この投稿は削除されました。</small>
      {{else}}
        {{.BodyHTML (print (urlbase $IsBasic) $Mount "/")}}
      {{end}}
    </div>
    <ul class="list-group files">
      {{if (not $Deleted)}}
        {{range .Files}}
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-8 col-md-9">
                <p>
                  <a class="btn btn-primary" href="/{{$Mount}}/{{$Index}}/{{.Id}}/dl/{{.Name}}" download="{{.Name}}" title="上手くダウンロードできない場合は右クリックまたはロングタップで表示されるメニューから保存してください">
                    <span class="icon-download-alt"></span>
                    {{.Name}}
                    <small title="{{.Size}} Bytes">
                      ({{.SizeReadable}})
                    </small>
                  </a>
                </p>
                {{with .Description}}
                  <p>{{.}}</p>
                {{end}}
              </div>
              <div class="col-sm-4 col-md-3">
                {{if .HasThumbnail}}
                  <p>
                    <a target="_blank" href="/{{$Mount}}/{{$Index}}/{{.Id}}/{{.Name}}">
                      <img class="img-thumbnail" src="/{{$Mount}}/{{$Index}}/{{.Id}}/th/{{.Name}}">
                    </a>
                  </p>
                {{end}}
                {{if .IsMP3}}
                  <div class="audio-player">
                    <a href="/{{$Mount}}/{{$Index}}/{{.Id}}/{{.Name}}" class="btn btn-default btn-lg btn-listen" data-type="{{.Mime}}">
                      <span class="icon-play-sign"></span> Listen
                    </a>
                  </div>
                {{end}}
              </div>
            </div>
          </li>
        {{end}}
      {{end}}
    </ul>
  </div>
{{end}}
