<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マウントポイント管理 - labbslazy</title>
    {{template "base-css.html"}}
    {{template "base-js.html"}}
  </head>
  <body>
    <div class="container">
      <h1>マウントポイント編集</h1>
      {{if .Error}}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{.Error}}
        </div>
      {{end}}
      <form action="/mount/{{.Mount}}/" method="POST" class="well" role="form">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label for="mount-input">
                マウントポイント
              </label>
              <input id="mount-input" class="form-control" type="text" name="Mount" value="{{.Mount}}" readonly="readonly" placeholder="マウントポイント名">
            </div>
          </div>
          <div class="col-sm-7">
            <div class="form-group">
              <label for="title-input">
                タイトル
              </label>
              <input id="title-input" class="form-control" type="text" name="Title" value="{{.MountInfo.Title}}" placeholder="タイトル">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="description-input">
                説明
              </label>
              <textarea id="body-description" class="form-control" name="Description" placeholder="本文">{{.MountInfo.Description}}</textarea>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="salt-input">
                トリップのソルト
              </label>
              <input id="salt-input" class="form-control" type="text" name="TripSalt" value="" placeholder="ソルト">
              <small class="text-muted">現在設定されているソルトは表示されません</small>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="mount-password">
                マスターパスワード
              </label>
              <input id="mount-password" class="form-control" type="text" name="Password" placeholder="パスワード">
            </div>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-primary" type="submit">登録する</button>
          </div>
        </div>
      </form>
    </div>
    {{template "footer.html"}}
  </body>
</html>

