<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>マウントポイント管理 - labbslazy</title>
    {{template "base-css.html"}}
    {{template "base-js.html"}}
    <script>
      $(function(){
        $('form').on('submit', function(){
          var mount = $('input[name=Mount]').val();
          if (!mount) return false;
        });
        $('button[name=Remove]').on('click', function(){
          var mount = $('input[name=Mount]').val();
          if (!mount) return false;
          var mpw = prompt("本当にマウントポイント \""+mount+"\" を削除しますか？\n問題ない場合は入力欄にマスターパスワードを入力してください");
          if (!mpw){
            return false;
          }
          $('input[name=Password]').val(mpw);
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>マウントポイントの作成／編集</h1>
      {{if .Deleted}}
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          マウントポイント &quot;{{.Mount}}&quot; は削除されました。
        </div>
      {{end}}
      {{if .Error}}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{.Error}}
        </div>
      {{end}}
      <form action="/mount/" method="POST" class="well" role="form">
        <input type="hidden" name="Password" value="">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="mount-input">
                マウントポイント
              </label>
              <input id="mount-input" class="form-control" type="text" name="Mount" value="{{.Mount}}" placeholder="マウントポイント">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <button class="btn btn-primary" type="submit" name="Edit" value="1"><span class="icon-edit"></span> 編集する</button>
            <button class="btn btn-danger" type="submit" name="Remove" value="1"><span class="icon-remove"></span> 削除する</button>
          </div>
        </div>
      </form>
    </div>
    {{template "footer.html"}}
  </body>
</html>
