<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{.}}">labbslazy</a>
    </div>
  </div>
</nav>
