<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{with .MountInfo.Title}}{{.}}{{else}}タイトルなし{{end}} - labbslazy</title>
  <meta name="description" content="{{.MountInfo.Description}}">
  <meta name="keywords" content="{{.MountInfo.Title}}">
  <meta property="og:title" content="{{.MountInfo.Title}}">
  <meta property="og:description" content="{{.MountInfo.Description}}">
  {{template "base-css.html" .}}
  <link rel="stylesheet" href="/r/index.css">
  {{template "base-js.html" .}}
  {{if .IsBasic}}
    <script src="/r/basic-index.js"></script>
  {{else}}
    <script src="/r/index.js"></script>
  {{end}}
</head>
<body data-is-basic="{{if .IsBasic}}1{{else}}0{{end}}"{{if (not .IsBasic)}} data-sse="/{{.Mount}}/sse"{{end}} data-mount="{{.Mount}}">
  {{template "navbar.html" (print (urlbase .IsBasic) .Mount "/")}}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          {{if .IsBasic}}
            <a href="/{{.Mount}}/{{.Current}}">標準</a>
            簡易
          {{else}}
            標準
            <a href="/b/{{.Mount}}/{{.Current}}">簡易</a>
          {{end}}
        </div>
        <h1>{{with .MountInfo.Title}}{{.}}{{else}}タイトルなし{{end}}</h1>

        <ul class="pager">
          <li class="previous"><a href="{{urlbase .IsBasic}}{{.Mount}}/">&larr; 一覧へ戻る</a></li>
        </ul>

        <div id="messages">
          {{template "message.html" .}}
        </div>
        <div id="more">
          {{if .HasMore}}
            <a class="btn btn-default btn-lg btn-block" href="{{urlbase .IsBasic}}{{.Mount}}/-{{.HasMore}}">続きを読む</a>
          {{end}}
        </div>
      </div>
    </div>
  </div>
  {{template "footer.html" .}}
</body>
</html>
