<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>labbslazy</title>
  {{template "base-css.html" .}}
  <link rel="stylesheet" href="/r/index.css">
  {{template "base-js.html" .}}
</head>
<body data-is-basic="{{if .IsBasic}}1{{else}}0{{end}}"{{if (not .IsBasic)}} data-sse="/{{.Mount}}/sse"{{end}} data-mount="{{.Mount}}">
  {{template "navbar.html" (urlbase .IsBasic)}}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="pull-right">
          {{if .IsBasic}}
            <a href="/">標準</a>
            簡易
          {{else}}
            標準
            <a href="/b/">簡易</a>
          {{end}}
        </div>
        <h1>このサイトについて</h1>
        <p class="text-center">
          <img src="/r/lab.png" class="img-thumbnail"><br>
          <small>Illustrated by <a href="http://ikaflower.org/" target="_blank">ikaflower</a>.</small>
        </p>
        <p>
          シンプルなファイルアップロード機能付き掲示板です。<br>
          個人で運営しているので無茶な使い方はしないでください。
        </p>
      </div>
    </div>
  </div>
  {{template "footer.html" .}}
</body>
</html>

