<script id="upload-template" type="text/x-template">
  <li class="list-group-item">
    <div class="pull-right">
      <div class="btn-toolbar">
        <div class="btn-group btn-group-move">
          <button class="btn btn-default btn-up" type="button" title="項目を上に移動">
            <span class="icon-arrow-up"></span>
          </button>
          <button class="btn btn-default btn-down" type="button" title="項目を下に移動">
            <span class="icon-arrow-down"></span>
          </button>
        </div>
        <div class="btn-group">
          <button class="btn btn-danger btn-remove" type="button" title="アップロード取り消し">
            <span class="icon-remove"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="upload-status">
      <div class="well well-sm">
        アップロード中...
      </div>
    </div>
    <div class="row fileinfo">
      <div class="col-sm-5">
        <label class="label-filename">ファイル名</label>
        <div class="input-group">
          <input class="form-control input-filename" type="text" placeholder="ファイル名">
          <input class="input-key" type="hidden">
          <span class="input-group-addon extension" title="拡張子は変更できません"></span>
        </div>
      </div>
      <div class="col-sm-7">
        <label class="label-description">説明</label>
        <input class="form-control input-description" type="text" placeholder="ファイル内容の説明">
      </div>
    </div>
  </li>
</script>
