.navbar, .well-footer {
  margin-bottom: 0;
}

form#message-form textarea {
  resize: none;
}

div.upload-heading {
  border-bottom: 0;
}

div.upload-status {
  margin-right: 140px;
}

.message-body {
  word-wrap: break-word;
}

#upload-list li.uploading div.fileinfo,
#upload-list li.disabled div.fileinfo,
#upload-list li.disabled div.btn-group-move {
  display: none;
}

@media (min-width: 768px) {
  form#message-form {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  div.player.affix {
    position: static;
    width: auto;
    top: 0;
  }

  div.upload-status {
    margin-right: 0;
    margin-top: 44px;
  }
}

